doctype html
html
  head
    title intro
    link(rel='stylesheet', href='shared/style.css')
    link(rel='stylesheet', type='text/css', href='3rdparty/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css')
    meta(name="viewport", content="width=device-width")

  body.proto
    section.forVolunteers.bigLinks
      h1(style="font-size:20px") Screen setup
      h2 I am the game operator for:
      each g in locals.games
        li
          a(href=g.gameOp)= g.label
      li
        a(href='/stations/prizeop/') Prize station
    
    section
      h2 This is the game screen for:
      each g in locals.games
        li
          a(href=g.uri)
            =g.label
    section
      h2 Special stations
      li: a(href='/stations/enrollment/') enrollment station
      li: a(href='/stations/scoreboard/') scoreboard station
      li
        a(href='/stations/prize/') prize station
        | 
      li: a(href='/stations/admin/') admin station
      li: a(href='/stations/allusers/') list all users
      li: a(href='/games/qr') QR codes for all games
      li: a(href='/stations/fakescan/') create scan events
  
      p
        a(href='http://localhost:631/jobs') Print jobs (on localhost)
        
    p#status
    script(src='3rdparty/jquery-1.9.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='shared/websocket.js')
    script(src="page.js")
