doctype html
html
  head
    meta(charset="utf-8")
    title game station
    link(rel='stylesheet', type='text/css', href='../../../shared/style.css')
    link(rel='stylesheet', type='text/css', href='../../../3rdparty/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../../../shared/scanwidget.css')
    link(rel='stylesheet', href='style.css')
  body
    div.bg(data-bind="attr: {src: bgImage()}")
    div.bgimg
        img.bg(src="bg/1280x800.jpg")

    p#status

    div.fg
      include ../../shared/scanwidget 

      .scorecardEnvelope
        table.scorecard(data-bind="foreach: newScoreEvents.eventList()")
          tr
            td
              i.icon-trophy
            td
              span(data-bind="text: scoreDesc")
            td
              span(data-bind="text: scoreWon")
            
      
    script(src='../../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../../3rdparty/knockout-2.2.1.js')
    script(src='../../../3rdparty/underscore-1.4.4-min.js')
    script(src='/socket.io/socket.io.js')
    script(src='../../../shared/websocket.js')
    script(src='../../../shared/points.js')
    script(src='../../../shared/identifiers.js')
    script(src="page.js")
