doctype html
html
  head
    meta(charset="utf-8")
    title game station
    link(rel='stylesheet', type='text/css', href='../../../shared/style.css')
    link(rel='stylesheet', type='text/css', href='../../3rdparty/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css')
    link(rel='stylesheet', href='style.css')
  body
    img.bg(data-bind="attr: {src: bgImage()}")

    .demoButtons
      | Simulate a scan from
      // ko foreach: simUsers
      button(data-bind="click: $root.simUserScan, text: $data")
      // /ko

    p#status

    div.fg        
        .scanArea
          .scan
            .mode.idleMode(data-bind="visible: !newScoreEvents.eventList().length")
              div Waiting for badge scan
              div
                img(src="../../../shared/noise.gif")
            .mode.decodedMode(data-bind="visible: newScoreEvents.eventList().length > 0")
              div Identified
              div(data-bind="with: recentUserData")
                div
                  img(data-bind="attr: {src: pic}")
                div(data-bind="text: label")
                span.rank Ensign
                  span.have ⍟
                  span.need ⍟⍟⍟⍟⍟⍟
                div
                  | Current points: 
                  span(data-bind="text: score.points")

        .scorecardEnvelope
          table.scorecard(data-bind="foreach: newScoreEvents.eventList()")
            tr
              td
                i.icon-trophy
              td
                span(data-bind="text: scoreDesc")
              td
                span(data-bind="text: scoreWon")
            
      
    script(src='../../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../../3rdparty/knockout-2.2.1.js')
    script(src='../../../3rdparty/underscore-1.4.4-min.js')
    script(src='../../../shared/websocket.js')
    script(src='../../../shared/points.js')
    script(src='../../../shared/netconfig.js')
    script(src="page.js")
