doctype html
html
  head
    title game station
    link(rel='stylesheet', href='style.css')
  body
    .grid
      img(src='game1.jpg')
      .col.left
      .col.score
        .scanArea
          .scan
            div Identified
            div
              img(src='kablam_Girl_s_face_in_black_frame.png')
            div username1
            span.rank Ensign 
              span.have ⍟
              span.need ⍟⍟⍟⍟⍟⍟
        .scorecardEnvelope
          .scorecard
            div
              | This game will give you ♆25 and upgrade your rank to
              span.rank Private
      .col.right
