body
  margin: 0
  
img.bg
  position: absolute
  z-index: -10
  width: 100%
  height: 100%


div.fg
  position: absolute
  left: 50px
  right: 50px
  top: 200px
  bottom: 200px
  text-align: center

div.fg > div
  display: inline-block
  
.scanArea
  width: 220px
  height: 400px
  background: #ccc
  border-radius: 10px
  border: 1px solid white
  box-shadow: 5px 5px 20px black
  overflow: hidden
  .scan
    overflow: hidden
    font-size: 27px
    .mode
      x
    .decodedMode
      img
        width: 190px

    .idleMode
      img
        width: 190px
        height: 140px

.rank
  border-radius 3px
  display inline-block
  margin: 1px 3px
  padding: 0 5px
  background: #D9E4AC;
  border: 1px solid #8A9459;

.have
  color: #000
  text-shadow: 1px 1px 0 #DFDF5A
  
.need
  color rgba(121, 121, 24, 0.32)
    
.score
  //border: 2px solid blue
  background: rgba(0, 0, 0, 0.47);
  box-shadow: 0 0 120px #000; 
    
.scorecardEnvelope
  z-index: 1

  overflow: hidden;

  .scorecard
    background: #bbb
    border-top-right-radius: 10px
    border-bottom-right-radius: @border-top-right-radius
    padding: 50px
    position: relative
    left: 0px
  .scorecardAnim
    -webkit-animation-duration: .5s;
    -webkit-animation-name: openDrawer;


.scan
.scorecard
  text-align: center

@keyframes openDrawer
  from { left: -600px }
  to { left: 0px }

.demoButtons
  position: fixed
  left: 0
  bottom: 20px
  background: rgba(250,250,250,.4)
