doctype
html
  head
    link(rel='stylesheet', type='text/css', href='../../shared/style.css')
    link(rel='stylesheet', type='text/css', href='../../3rdparty/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='style.css')
  body

    h1
      | Top
      | 
      span(data-bind="text: maxTopUsers")
      |  Scores
    table.scoreColumns
      tr(data-bind="foreach: _.range(numColumns)")
        td
          table.scores
            thead
              tr
                th 
                th played
                th points
            tbody(data-bind="foreach: _.values(_.pick($parent.users(), _.range($data, $parent.users().length, $root.numColumns)))")
              tr(data-bind="css: classes")
                td.who
                  img.badge(data-bind="attr: {src: identifiers.localSite(pic)}")
                  div(data-bind="text: label || '?'")
                td.nGames
                  span(data-bind="text: score.games")
                td.nPoints
                  span(data-bind="text: score.points")

    p#status
    
    script(src='../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../3rdparty/knockout-2.2.1.js')
    script(src='../../3rdparty/underscore-1.4.4-min.js')
    script(src='../../shared/websocket.js')
    script(src='../../shared/identifiers.js')
    script(src='/socket.io/socket.io.js')
    script(src="page.js")
