body
  font-size: 23px
  
.scoreColumns
  width: 100%
  > tbody > tr > td
    vertical-align: top

img.badge
  width: 150px
  height: (@width*3/4)px

th
  color: gray
  font-style: italic
  padding: 0 10px 0 10px
  
td.who
  padding-bottom 20px
  padding-top @padding-bottom
  
td.nGames, td.nPoints
  text-align: center
  vertical-align: middle