body
  font-size: 23px

table
  border-collapse: collapse
  
.scoreColumns
  width: 100%
  > tbody > tr > td
    vertical-align: top

img.badge
  width: 150px
  height: (@width*3/4)px

th
  color: gray
  font-style: italic
  padding: 0 10px 0 10px
  
td.who
  padding-bottom 20px
  padding-top @padding-bottom
  padding-left @padding-bottom
  
td.nGames, td.nPoints
  text-align: center
  vertical-align: middle

.two0 { background: hsl(186, 12%, 17%); }
.two1 { background: hsl(186, 21%, 24%); }
/*
Alternate effect:
.three0 { background: hsl(186, 12%, 17%); }
.three1 { background: hsl(186, 21%, 24%); }
.three2 { background: hsl(186, 32%, 32%); }
*/