/3rdparty/davidshimjs-qrcodejs-a413bc3/jquery.min.js
/3rdparty/davidshimjs-qrcodejs-a413bc3/index.html
/3rdparty/davidshimjs-qrcodejs-a413bc3/.project
/server/events.js
/server/server.js
/server/sockets.js
/server/style.css
/derby_experiment
/node_modules
/build
