doctype html
html
  head
    title game station
    link(rel='stylesheet', type='text/css', href='../../../shared/style.css')
    link(rel='stylesheet', type='text/css', href='../../3rdparty/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css')
    link(rel='stylesheet', href='style.css')
  body
    h1
      div Game operator console
      div.gameName(data-bind="text: game() && game().label")

    include ../../shared/scanopwidget.jade
          
    fieldset(data-bind="if: game()")
      legend Achievements for this game
      div.achievement(data-bind="foreach: game().achievements")
        div
          span(data-bind="text: label")
          |  &#8594;
          | win 
          span.summary(data-bind="text: $root.summarizeWin($data)")
  
          div(data-bind="if: $root.lastUserData")
            button(data-bind="click: $root.award")
              span(data-bind="text: $root.lastUserData().label")
              |  wins
              | '
              span(data-bind="text: label")
              | '

    p#status

    script(src='../../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../../3rdparty/knockout-2.2.1.js')
    script(src='../../../3rdparty/moment-2.0.0.min.js')
    script(src='../../../3rdparty/underscore-1.4.4-min.js')
    script(src='../../../shared/websocket.js')
    script(src='../../../shared/points.js')
    script(src='../../../shared/netconfig.js')
    script(src='../../../shared/identifiers.js')
    script(src="page.js")
