doctype html
html
  head
    title game station
    link(rel='stylesheet', type='text/css', href='../../../shared/style.css')
    link(rel='stylesheet', type='text/css', href='../../../shared/operatorconsole.css')
    link(rel='stylesheet', type='text/css', href='../../3rdparty/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css')
    link(rel='stylesheet', href='style.css')

    meta(name="viewport", content="width=device-width")
    
  body
    h1
      div Game operator console

    div.gameName
      | Station: 
      span(data-bind="text: game() && game().label")

    include ../../shared/scanopwidget.jade
          
    fieldset(data-bind="if: game()")
      legend Achievements for this game
      div.achievement(data-bind="foreach: game().achievements")
        div
          span(data-bind="text: label")
          |  &#8594;
          | win 
          # the pointScale=1 is wrong, but it only leads to wrong display on this page
          span.summary(data-bind="text: $root.summarizeWin($data, 1)")
  
          div(data-bind="if: $root.currentUserData")
            button(data-bind="click: $root.award")
              span(data-bind="text: $root.currentUserData().label")
              |  wins
              | '
              span(data-bind="text: label")
              | '

    p#status

    script(src='../../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../../3rdparty/knockout-2.2.1.js')
    script(src='../../../3rdparty/moment-2.0.0.min.js')
    script(src='../../../3rdparty/underscore-1.4.4-min.js')
    script(src='../../../shared/websocket.js')
    script(src='../../../shared/points.js')
    script(src='/socket.io/socket.io.js')
    script(src='../../../shared/identifiers.js')
    script(src='../../../shared/operatorconsole.js')
    script(src="page.js")
