
.summary 
  font-weight: bold
  color: rgb(236, 168, 94)

.achievement h3 span
  font-weight: bold
  color: rgb(219, 236, 94)

.achievement > div
  border-top: 1px solid gray
  margin-top: 7px;
  padding-top: 3px;
  
.achievement > div:first-child
  border: none
