body
  width: 25em

img.user
  width: 128px


.userId
  background: hsl(0, 0%, 19%)
  
.userId > div
  display: inline-block
  vertical-align: top

button
  padding: 20px 10px

.summary 
  font-weight: bold
  color: rgb(236, 168, 94)

.achievement h3 span
  font-weight: bold
  color: rgb(219, 236, 94)

.achievement > div
  border-top: 1px solid white
  margin-top: 14px;
  padding-top: 14px;
  
.achievement > div:first-child
  border: none

h1
  font-size: 30px
  
.gameName
  color: rgb(34, 34, 34);
  padding: 4px;
  border-radius: 9px;
  text-shadow: none;
  background: rgb(42, 182, 209);
  border: 1px solid white;