doctype html
html
  head
    title prize station
    link(rel='stylesheet', type='text/css', href='../../shared/style.css')
    link(rel='stylesheet', type='text/css', href='../../../shared/operatorconsole.css')
    link(rel='stylesheet', type='text/css', href='../../3rdparty/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css')
    link(rel='stylesheet', href='style.css')
    meta(name="viewport", content="width=device-width")

  body
    h1 Game operator console

    div.gameName
      | Prize booth
      
    include ../../shared/scanopwidget

    div(data-bind="foreach: availablePrizes")
      div
        button(data-bind="text: label, enable: enable, click: $root.buy")
        // ko if: !enable
        span(data-bind="text: $data.whyNot")
        // /ko

    p#status

    script(src='../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../3rdparty/knockout-2.2.1.js')
    script(src='../../3rdparty/moment-2.0.0.min.js')
    script(src='../../3rdparty/underscore-1.4.4-min.js')
    script(src='../../shared/websocket.js')
    script(src='../../shared/points.js')
    script(src='/socket.io/socket.io.js')
    script(src='../../shared/identifiers.js')
    script(src='../../shared/operatorconsole.js')
    script(src='../../shared/prizes.js')
    script(src="page.js")
