doctype
html
  head
    link(rel='stylesheet', type='text/css', href='../../shared/style.css')
    link(rel='stylesheet', type='text/css', href='../../3rdparty/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    h1 Admin

    h2 Events
    
    table
      thead
        tr
          th Time
          th Event type
          th
      tbody(data-bind="foreach: events")
        tr(data-bind="css: $parent.eventRowClasses($data)")
          td.time
            a(data-bind="attr: {href: identifiers.localSite(uri)}, text: $parent.prettyTime($data)")
          td.eventType(data-bind="attr: {title: 'type: '+type}")
            i(data-bind="attr: {'class': $parent.iconClass($data)}")
            span(data-bind="text: type.replace('achievement','achv')")
          td
            span(data-bind="with: $data.pic")
              a(data-bind="attr: {href: identifiers.localSite($data)}")
                img#thumb(data-bind="attr: {'data-original': $data}")
            span(data-bind="with: $root.eventQr($data)")
              a(data-bind="attr: {href: identifiers.localSite($data)}") QR
              
            span(data-bind="html: $parent.eventSpecificHtml($data)")
          td
            // draw this differently if we're already cancelled
            button(data-bind="click: $parent.toggleCancelEvent")
              // ko if: cancelled
              | Uncancel
              // /ko
              // ko if: !cancelled
              | Cancel
              // /ko

    p#status
    
    script(src='../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../3rdparty/knockout-2.2.1.js')
    script(src='../../3rdparty/underscore-1.4.4-min.js')
    script(src='../../3rdparty/jquery.lazyload.min.js')
    script(src='../../shared/websocket.js')
    script(src='../../shared/netconfig.js')
    script(src='../../shared/identifiers.js')
    script(src="page.js")
