doctype
html
  head
    link(rel='stylesheet', type='text/css', href='../../shared/style.css')
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    h1 admin

    h2 events
    table
      thead
        tr
          th Time
          th Event type
          th
      tbody(data-bind="foreach: events")
        tr(data-bind="css: {cancelled: cancelled}")
          td
            a(data-bind="attr: {href: uri}, text: $parent.prettyTime($data)")
          td(data-bind="text: type")
          td(data-bind="text: JSON.stringify($parent.eventSpecific($data))")
          td
            // draw this differently if we're already cancelled
            button(data-bind="click: $parent.toggleCancelEvent")
              // ko if: cancelled
              | Uncancel
              // /ko
              // ko if: !cancelled
              | Cancel
              // /ko

    p#status
    
    script(src='../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../3rdparty/knockout-2.2.1.js')
    script(src='../../3rdparty/underscore-1.4.4-min.js')
    script(src='../../shared/websocket.js')
    script(src='../../shared/netconfig.js')
    script(src="page.js")
