table
  border-collapse collapse
  
.cancelled
  text-decoration: line-through

.isNewDay td
  border-top: 1px solid gray
  padding-top: 20px
  
button
  padding: 1px 10px

tr i
  padding 0 3px
  
.enroll .eventType { color: hsl(20,  70%, 40%); }
.scan   .eventType { color: hsl(70,  70%, 40%); }
.cancel .eventType { color: hsl(120, 70%, 40%); }
.pic    .eventType { color: hsl(170, 70%, 40%); }
.achievement .eventType { color: hsl(220, 70%, 40%); }
.printError .eventType { color: hsl(270, 70%, 40%); }

img#thumb
  width: 48px

td.time, td.eventType
  white-space: nowrap