
body
  width: 30em
  
h1
  font-size: 30px
  
img.user
  width: 128px

.userId
  background: hsl(0, 0%, 19%)
  
.userId > div
  display: inline-block
  vertical-align: top

button
  padding: 20px 10px

.gameName
  color: rgb(34, 34, 34);
  padding: 4px;
  border-radius: 9px;
  text-shadow: none;
  background: rgb(42, 182, 209);
  border: 1px solid white;