
.scanArea
  width: 220px
  height: 400px
  background: #ccc
  border-radius: 10px
  border: 1px solid white
  box-shadow: 5px 5px 20px black
  overflow: hidden
  .scan
    overflow: hidden
    font-size: 27px
    .mode
      x
    .decodedMode
      img
        width: 190px

    .idleMode
      img
        width: 190px
        height: 140px

.rank
  border-radius 3px
  display inline-block
  margin: 1px 3px
  padding: 0 5px
  background: #D9E4AC;
  border: 1px solid #8A9459;

.have
  color: #000
  text-shadow: 1px 1px 0 #DFDF5A
  
.need
  color rgba(121, 121, 24, 0.32)
    