.grid 
    display: -webkit-flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 60px;

.col {
    background: #ccc;
    padding: 30px;
}
.fluid {
    -webkit-flex: 1;
    min-height: 100%;
}
canvas { width: 320px; height: 240px; }
button { padding: 10px; }

#badge {
    width: 310px;
    height: 429px;
    position: relative;
}
#badge > * { position: absolute; }
#qr {
    left: 57px;
    top: 58px;
}
#face {
    left: 56px;
    top: 231px;
    width: 187px;
    height: 133px;
}
#nametag {
    left: 69px;
    top: 222px;
    background: rgba(255, 255, 255, .8);
}