body
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(0, 0%, 15%)), color-stop(100%,hsl(0, 0%, 0%)))
  color: hsl(0, 100%, 100%)
  min-height: 1200px
  font-family sans-serif

h1
  background-image: url("moon.png");
  padding-left: 83px;
  height: 89px;
  background-repeat: no-repeat;
  background-position: 3px 5px;
  padding-top: 10px;
  color: rgb(153, 233, 240);
  background-color: rgba(130,130,130,0.09);
  font-size: 61px;
  margin: -9px -8px 4px -8px;
  text-shadow: -5px 3px 11px #000;

a
  color hsl(240, 100%, 77%)

#status
  color: gray
  position: fixed
  right: 10px
  bottom: 0
