body
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(0, 0%, 15%)), color-stop(100%,hsl(0, 0%, 0%)))
  color: hsl(0, 100%, 100%)
  min-height: 1200px
  font-family sans-serif

h1
  background-image: url("demo-logo.png");
  padding-left: 250px;
  height: 134px;
  background-repeat: no-repeat;
  background-position: -43px -20px;
  padding-top: 30px;
  background-color: hsla(0, 0%, 51%, 0.09);
  font-size: 74px;
  margin: -8px -8px 4px -8px;

a
  color hsl(240, 100%, 77%)

#status
  color: gray
  position: fixed
  right: 10px
  bottom: 0
