doctype
html
  head
    link(rel='stylesheet', href='../../shared/style.css')
  body
    canvas(width="320", height="240")
    .grid
      .col.fluid
        h1 Camera view
        video(autoplay='autoplay')
        div
          button#grab 1 Grab
        p
          a(href='?cam=demo') use demo video instead of webcam
      .col.fluid
        h1 New badge
        div#badge
        button#assemble 2 Assemble
        button#print 3 Print
        div
          button(data-bind="click: makeDemoUser") makeDemoUser
    script(src='../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../../3rdparty/knockout-2.2.1.js')
    script(src='../../../3rdparty/davidshimjs-qrcodejs-a413bc3/qrcode.min.js')
    script(src='../../../shared/websocket.js')
    script(src='../../shared/netconfig.js')
    script(src='enroll.js')
