doctype
html
  head
    link(rel='stylesheet', href='../../shared/style.css')
    link(rel='stylesheet', type='text/css', href='../../3rdparty/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='style.css')

  body
    h1 Enrollment

    .grid
      .col.fluid
        h2 Camera view
        div.scannerArea
          video(autoplay='autoplay', data-bind="click: grab")
          .scanner

        div
          button(data-bind="click: grab, enable: grabEnabled")
            | 
            i.icon-camera
            |  Grab
        p
          a(href='?cam=demo') use demo video instead of webcam
      .col.fluid
        h2 New badge
        div.scannerArea
          div#badge(style="position:relative;display:block;margin-top:300px;height:100px")
          .scanner
        div
          | Name for badge:
          input#enterName(data-bind="value: enteredName, valueUpdate: 'afterkeydown'")
        div
          button(data-bind="click: makeUser, enable: makeUserEnabled")
            i.icon-plus
            |  Make new user
          button(data-bind="click: print, enable: printEnabled")
            i.icon-print
            span 
            span#print Print
          button(data-bind="click: reset, enable: resetEnabled")
            i.icon-sign-blank
            |  Reset
            
    #status
    canvas(style="display: none", width="320", height="240")

    script(src='../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../3rdparty/knockout-2.2.1.js')
    script(src='../../3rdparty/davidshimjs-qrcodejs-a413bc3/qrcode.min.js')
    script(src='../../3rdparty/canvas-to-blob.js')
    script(src='../../shared/websocket.js')
    script(src='../../shared/identifiers.js')
    script(src='../../shared/netconfig.js')
    script(src='enroll.js')
