doctype html
html
  head
    meta(charset="utf-8")
    title prize station
    link(rel='stylesheet', type='text/css', href='../../../shared/style.css')
    link(rel='stylesheet', type='text/css', href='../../../3rdparty/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../../../shared/scanwidget.css')
    link(rel='stylesheet', href='style.css')
  body
    h1 Prize

    h2 Logged in

    div(style="display: inline-block")
      include ../../shared/scanwidget

    div(style="display: inline-block", data-bind="with: recentUserData")
      h2 Games played
        div
          | Played 
          span(data-bind="text: score.games")
          | 
          span(data-bind="text: score.games == 1 ? 'game' : 'games'")
          |  total

        div(data-bind="foreach: $root.gameReport")
          div
            span(data-bind="text: label")
            | 
            span(data-bind="text: played")

      h2 Points won
        div
          | Played 
          span(data-bind="text: score.points")
  
      h2 Points spent
        div
          | Played 
          span(data-bind="text: score.spentPoints")
  
      h2 Rank prizes
        table(data-bind="foreach: score.rank")
          tr
            td Rank 
              span(data-bind="text: label")
            td have prize 
              span(data-bind="text: havePrize")
            td iscurrent 
              span(data-bind="text: isCurrent")

        

    p#status

    script(src='../../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../../3rdparty/knockout-2.2.1.js')
    script(src='../../../3rdparty/underscore-1.4.4-min.js')
    script(src='../../../shared/websocket.js')
    script(src='../../../shared/points.js')
    script(src='../../../shared/netconfig.js')
    script(src='../../../shared/identifiers.js')
    script(src="page.js")
