doctype html
html
  head
    meta(charset="utf-8")
    title prize station
    link(rel='stylesheet', type='text/css', href='../../../shared/style.css')
    link(rel='stylesheet', type='text/css', href='../../../3rdparty/FortAwesome-Font-Awesome-13d5dd3/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../../../shared/scanwidget.css')
    link(rel='stylesheet', href='style.css')
  body
    h1 Prize

    include ../../shared/scanwidget

    // ko with: recentUserData
    div.gamesPlayed
      h2 Games played
      div
        | Played 
        span(data-bind="text: score.games")
        | 
        span(data-bind="text: score.games == 1 ? 'game' : 'games'")
        |  total

      table
        tbody(data-bind="foreach: $root.gameReport")
          tr(data-bind="css: {played: played, unplayed: !played}")
            td(data-bind="text: label")
            td(data-bind="text: played ? played : 'not played'")
    div.pointGraphs
      div(style="display: inline-block") 
        h2 Points won
        div.pointsBar
          div.label
            span(data-bind="text: score.points")
          div.bar(data-bind="style: {height: (score.points / $root.maxPoints * 100)+'%'}")
      div(style="display: inline-block")
          h2 Points spent
          div.pointsBar
            div.label
              span(data-bind="text: score.spentPoints")
            div.bar(data-bind="style: {height: (score.spentPoints / $root.maxPoints * 100)+'%'}")

    div.rankPrizes
        h2 Rank prizes
          table
            tbody(data-bind="foreach: score.rank")
              tr(data-bind="css: {alreadyAchieved: alreadyAchieved, isCurrent: isCurrent, havePrize: havePrize, notAchieved: notAchieved}")
                td.label
                  span(data-bind="text: label")
                td 
                  div(data-bind="if: isCurrent || alreadyAchieved")
                    span(data-bind="if: havePrize")
                      | Have prize
                    span(data-bind="if: !havePrize")
                      | Prize available

    // /ko
  
    p#status
  
    script(src='../../../3rdparty/jquery-1.9.1.min.js')
    script(src='../../../3rdparty/knockout-2.2.1.js')
    script(src='../../../3rdparty/underscore-1.4.4-min.js')
    script(src='../../../shared/websocket.js')
    script(src='../../../shared/points.js')
    script(src='../../../shared/netconfig.js')
    script(src='../../../shared/identifiers.js')
    script(src="page.js")
