html
  background: hsl(0, 0%, 9%)

body
  width: 2530px
  height: 1600px
  font-size: 36px
  background: black
  overflow: hidden

h2
  font-size: 48px
  margin-top: 0px
  margin-bottom: 20px

.gamesPlayed table
  font-size: 30px
  width: 95%
  margin: 20px

  tr:nth-child(even)
    background: hsl(240, 100%, 15%)

  tr:nth-child(odd)
    background: hsl(0, 0%, 17%)

  td
    padding: 7px 20px
  tr.unplayed
    color: hsl(39, 100%, 50%)
    font-weight: bold
    
.pointsBar
  width: 250px
  height: 750px
  margin: 0 45px
  position: relative
  border: 2px solid white
  background: black

  .label
    font-size: 40px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 10px;
    z-index: 1;
    color: hsl(0, 0%, 0%);
    
  .bar
    background: hsl(39, 100%, 50%);
    position: absolute;
    bottom: 0;
    border: 2px solid hsl(0, 100%, 100%);
    border-bottom: 0;
    width: 100%
    left: -2px

.pointsBar.spent .bar
  background: hsl(204, 67%, 54%);
  bottom: -2px
  color: white
  
.rankPrizes
  width: 570px
  tr.alreadyAchieved td.label
    text-decoration: line-through
    color: gray
  tr.isCurrent td.label span
    display: inline-block;
    //border: 1px solid hsl(60, 100%, 50%);
    //border-radius: 10px;
    padding: 7px;
    //background: hsl(60, 41%, 29%);
    
  tr.notAchieved td.label
    color: hsl(0, 0%, 22%)

.catalog tr.avail
  .permission:after
    content: "Available!"

.catalog tr.cantAfford
  .label, .points 
    text-decoration: line-through
  .permission:after
    content: "Not enough points"
  
    
.scanArea, .gamesPlayed, .pointGraphs, .rankPrizes, .catalog, .pointsAvail
  border: 10px solid white
  display: inline-block
  vertical-align: top
  margin: 20px
  padding: 10px

.scanArea
  height: 920px
  width: 570px
  border: 10px solid hsl(39, 100%, 50%)
  background: hsl(240, 100%, 15%)

.pointGraphs
  height: 920px
  width: 700px

.gamesPlayed
  width: 1010px
  height: 920px

.rankPrizes
  height: 410px

.pointsAvail
  width: 700px
  height: 410px

.pointsAvailCenter
  width: 700px
  font-size: 150px
  color: hsl(39, 100%, 50%)
  margin-top: 70px
  text-align: center

.catalog
  width: 940px
  height: 410px
  padding-right: 45px
  padding-left: 45px


.catalog table
  width: 100%
  color: white

  tr:nth-child(1)
    background: hsl(39, 100%, 50%)
    color: black

  tr:nth-child(2)
    background: hsl(240, 100%, 15%)

  tr:nth-child(3)
    background: hsl(0, 0%, 17%)

  td
    padding: 7px 20px

  h2
    margin-bottom: 0px

.rankPrizes table
  width: 100%
  color: white

  tr:nth-child(even)
    background: hsl(240, 100%, 15%)

  tr:nth-child(odd)
    background: hsl(0, 0%, 17%)

  tr:nth-child(1)
    background: hsl(39, 100%, 50%)
    color: black

  td
    padding: 7px 20px

.scan
  height: 100%
  
.scanArea img
  border: 5px solid white
  width: 600px

.rank
  //background: none
  color: hsl(39, 100%, 50%)
  border: none
  margin-bottom: 54px
